@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes mirrorFade {
  0%, 100% { transform: scale(1) rotateY(0); }
  50% { transform: scale(1.05) rotateY(180deg); }
}

@keyframes rotate3d {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}